<div class="smpBox open" *ngIf = "showLoader == false">

    <div class="activateC cAlign">
        <div class="image-container"><img class="logoFig" src="assets/smLogo.png"></div>
        <div class="description-outer" *ngIf="action == 'ACTIVATE'">

            <p>The Sustainably Run Meetings Outlook Add-in helps you change the world with your meetings!</p>
            <p>When you invite attendees to an Outlook meeting, with an active Sustainably Run Meetings subscription - each attendee will
            have a tree planted in their name in a developing country - with each tree costing just £0.99!</p>
            
            <p>When activating the Sustainably Run Meetings Outlook Add-In, please ensure you are using the same email account used when
            signing up to Sustainably Run Meetings. Upon clicking the activate button, you will be prompted for account permissions (3rd party authorisation). Here, as part of verification, the user should provide the same outlook account which was used to install the Add-in.</p>
            
            <p>The add-in accesses the following details from your account:</p>
                <ul>
                    <li>User account data (name and email address)</li>
                    <li>Calendar events</li>
                    <li>Contacts</li>
                </ul>
            
        </div>
        <div class="redirct-btn">
            <button *ngIf="action == 'ACTIVATE' && !desktopuser" class="act-btn"
            (click)="activateClick()">Login</button>
            <button *ngIf="action == 'ACTIVATE' && !desktopuser" class="act-btn" (click)="signUpClk()">Sign Up</button>
        </div>
        <div *ngIf="action == 'ACTIVATE' && desktopuser" class="redirct-btn-outer">
            <p>Once SRM Web Plugin is activated, your SRM Desktop plugin will no longer be active</p>
            <div class="redirct-btn">
                <button class="act-btn" class="act-btn" (click)="activateClick()">Login</button>
                <button class="act-btn" (click)="redirectToNotInstall()">Do Nothing</button>
            </div>
        </div>
        <div class="cookie-message-body" *ngIf="action !== 'ACTIVATE'">
            <span class="cookie-message-logo">
                <img class="warningLogo" src="assets/warning.png">
            </span>
            <span class="cookie-message">
                {{cookieMessage}}
            </span>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Sustainably Run Meetings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Please click the next button to activate the app.
                    <button type="button" class="btn btn-primary" (click)="activateClick()"
                        data-dismiss="modal">Next</button>

                </div>

            </div>
        </div>
    </div>

</div>

<div *ngIf="showLoader === true">
    <app-loader></app-loader>
</div>