.cAlign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    padding-bottom: 10px;
    text-align: justify;
}

.image-container {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.logoFig {
    width: 80%;
    height: auto;
}

.warningLogo {
    height : 50%;
    width : 10%;
}


@media (max-width: 1400px) {
    .activateC .act-btn {
        font-size: 13px;
        padding: 8px 35px;
        margin-top: 10px;
    }
    .activateC .cookie-message-body {
        font-size: 15px;
        padding: 8px 35px;
        margin-top: 40px;
        text-align: center;
    }
}

.redirct-btn-outer {
    padding: 0 10px;
    margin-top: 20px;
}

.redirct-btn {
    display: flex;
    justify-content: center;
}

.redirct-btn button { 
    min-width: 140px;
    margin: 0 10px;
}

.description-outer {
    margin-bottom: 5px;
    font-size: 13px;
    padding: 10px 15px 0;
    overflow-y: scroll;
}
.description-outer p,.description-outer ul{
    margin-bottom: 0.3rem;
}

.acn-btn {
    position: sticky;
}
