<div *ngIf="show === false">
    <app-loader></app-loader>
</div> 

<div *ngIf="show === true">
    <div class="smpBox open">
        <div class="mainSC ">
            <h3>Hi {{user?.name}}</h3>
            <h5><span></span>Online</h5>
            <!-- <button class="act-btn">Go to Dashboard</button> -->
            <a href="{{loginUrl}}" class="btn" target="_blank">Go to Dashboard </a>
            <ul class="list-unstyled stList">
                <li><span>{{count?.meetingInviteCount}} </span>Trees Planted</li>
                <li><span> {{count?.meetingCount}}</span>Sustainably Run Meetings</li>
            </ul>

            <img class="logoFig" src="assets/smLogo.png">

            <label class="checkbox">Opt-Out this meeting from a Sustainably Run Meeting
                <input type="checkbox" [(ngModel)]="theCheckbox" data-md-icheck (change)="toggleVisibility($event)">
                <span class="checkmark"></span>
            </label>

            <button class="btn act-btn" class="act-btn" (click)="logoutUser()">Sign Out</button>
        </div>
    </div>
</div>