.mainSC {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding: 15px;
}

.mainSC .logoFig {
    height : 12%;
    width : 60%;
}

.mainSC h3 {
    font-size: 25px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 15px;
}

.mainSC h5 {
    font-size: 14px;
    color: #8a8a8a;
    font-weight: 400;
    margin-bottom: 30px;
}

.mainSC h5 span {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #70cb6e;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: bottom;
}

.mainSC .logoFig {
    margin: 80px auto 50px auto;
}

.mainSC .act-btn {
    width: 100%;
    margin: 0;
}

.stList {
    margin: 0 auto;
    text-align: center;
}

.stList li {
    margin-top: 50px;
    color: #000000;
    font-size: 20px;
}

.stList li span {
    font-size: 40px;
    color: #000000;
    display: block;
    width: 150px;
    height: 150px;
    border: 5px solid #679266;
    border-radius: 50%;
    display: block;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
}

/* The container */

.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #8a8a8a;
}

/* Hide the browser's default checkbox */

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 7px;
}

/* On mouse-over, add a grey background color */

.checkbox:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.checkbox input:checked~.checkmark {
    background-color: #679266;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.checkbox .checkmark:after {
    background-image: url(../../../assets/images/tick.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.btn {
    float: right;
    background: #e4e4e4;
    min-width: 100px;
    width: 100%;
    border: solid;
    border-color: #656363;
    font-size: 13px;
    padding: 12px 45px;
}

@media (max-width: 1400px) {
    .act-btn {
        font-size: 13px;
        padding: 12px 45px;
    }
    .mainSC h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .mainSC h5 {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .mainSC h5 span {
        width: 12px;
        height: 12px;
        vertical-align: top;
    }
    .stList li {
        margin-top: 20px;
        font-size: 15px;
    }
    .stList li span {
        font-size: 25px;
        width: 115px;
        height: 115px;
    }
    .mainSC .logoFig {
        margin: 38px auto 32px auto;
    }
    .checkbox {
        font-size: 13px;
        padding-left: 26px;
    }
    .checkmark {
        height: 20px;
        width: 20px;
        border-radius: 5px;
    }
    .checkbox .checkmark:after {
        background-size: 50%;
    }
}

/*# sourceMappingURL=style.css.map */