<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Sustainably Run Meetings Activated Successfully
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    //- script(src="https://appsforoffice.microsoft.com/lib/beta/hosted/office.debug.js")
    script(src="https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js")

    link(rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.min.css")
    link(rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.components.min.css")

    script(src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/js/fabric.min.js")
  body
    script.
      (function () {
        console.log('Login success');
        Office.initialize = (reason) => {
          $(document).ready(function () {
            Office.context.ui.messageParent(true);
          });
        };
      })();
