<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Sustainably Run Meetings Activated Successfully
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="https://appsforoffice.microsoft.com/lib/beta/hosted/office.debug.js")
        //- script(src="https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js")

        link(rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.min.css")
        link(rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.components.min.css")

        script(src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/js/fabric.min.js")

        style.
            .center {
                display: block;
                margin: auto;
                width: 30%;
                translate: 15%;
            }

    body(class="ms-Fabric" id="content")
        div()
            img(src="assets/images/logo.png" alt="Sustainably Run Meetings" srcset="" class="center")
            br
            button(class="ms-Button ms-Button--compoundPrimary center" id="activateBtn") ACTIVATE

        script.
            var activateBtn = $('#activateBtn')
            var dialog = null;
            activateBtn.click(function () {
                Office.onReady((host, platform) => {
                     $(document).ready(function () {
                        startDialog();
                    });
                })
            });

            function startDialog() {
                Office.context.ui.displayDialogAsync(`${window.location.origin}/dialog`,
                    {
                        height: 60,
                        width: 80,
                        displayInIframe: false,
                    }, 
                    (asyncResult) => {
                        dialog = asyncResult.value;
                        dialog.addEventHandler(Office.EventType.DialogMessageReceived, processMessage);
                    }
                );
            }

            function processMessage(message) {
                console.log(message)
                dialog.close();
            }