<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Sustainably Run Meetings Activated Successfully
    //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://appsforoffice.microsoft.com/lib/beta/hosted/office.debug.js")
    //- script(src="https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js")
  body
    script.
      (function () {
        console.info('Test Dialog');
        Office.initialize = (reason) => {
            Office.context.ui.messageParent("Success");
        };
      })();
