<!-- <h1>Color Me!</h1>
<h1> WELCOME DEAR>>>>></h1>


<h5> MY TExt is : {{title}} </h5> -->

<!-- <select (change)="onChangeColor($event.target.value)">
  <option *ngFor="let c of colors">{{c}}</option>
</select> -->

<!-- <button>Color the range</button> -->

<router-outlet></router-outlet>