<div class="smpBox open">

    <div class="activateC cAlign">
        <img class="logoFig" src="assets/smLogo.png">
        {{userMessage}}
        <a *ngIf="signUpUrl" class="btn" href="{{signUpUrl}}" target="_blank">Sign Up</a>
    </div>


</div>