.cAlign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logoFig {
    width: 80%;
    height: auto;
}


@media (max-width: 1400px) {
    .activateC .act-btn {
        font-size: 13px;
        padding: 8px 35px;
        margin-top: 40px;
    }
}

.btn {
    float: right;
    background: #e4e4e4;
    min-width: 50px;
    width: 50%;
    border: solid;
    border-color: #656363;
    font-size: 13px;
    padding: 12px 45px;
    margin-top: 20px;
}