.cAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.successC h4 {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    margin: 30px 0 15px; }
  .successC p {
    margin: 0;
    font-size: 14px;
    color: #6B6B6B; }
  
  @media (max-width: 1400px) {
    .successC img {
      max-width: 100px; }
  
    .successC h4 {
      font-size: 18px;
      margin: 26px 0 15px; }
  
    .successC p {
      font-size: 12px; } }