<div class="smpBox open">
    <div class="successC cAlign">
        <img src="assets/images/success.png">

        <h4>Login Successful</h4>
        <p>Welcome to Sustainably Run Meetings</p>
    </div>
</div>