.cAlign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logoFig {
    width: 80%;
    height: auto;
}

.warningLogo {
    height : 40%;
    width : 10%;
}


@media (max-width: 1400px) {
    .activateC .act-btn {
        font-size: 13px;
        padding: 8px 35px;
        margin-top: 40px;
    }
    .activateC .cookie-message-body {
        font-size: 15px;
        padding: 8px 35px;
        margin-top: 40px;
        text-align: center;
    }
}

.redirct-btn-outer {
    padding: 0 10px;
    margin-top: 20px;
}

.redirct-btn {
    display: flex;
    justify-content: center;
}
