<div class="smpBox open">
    <div class="activateC cAlign">
        <img class="logoFig" src="assets/smLogo.png">
        <span class="redirct-btn-outer">
            SRM Outlook Web Plugin is not activated and SRM Desktop Outlook Plugin will continue to be up and running <br>
            <div class="redirct-btn">
                <button (click)="backToActivate()" class="act-btn">Go back to Activate page</button>
            </div>
        </span>
    </div>
</div>